html {
	font-size: 1vw;
}

body {
	background-image: url("../images/CRITICAL/woodBG.jpg");
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-nav {
	width: 80%;
}

header h1 {
	font-size: 4rem;
	font-family: 'Caveat', cursive;
	color: black;
	position: relative;
	bottom: 10vw;
	text-align: center;
}

header img {
	width: 100%;
}

.belair, .c10, .impala, .parts {

}

.header-nav img {
	height: 10vw;
	object-fit: cover;
	border: 5px ridge;
	cursor: pointer;

}

.header-nav p {
	text-align: center;
	color: black;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: #e3dac9;
	display: none;
	cursor: pointer;
}

.header-nav img:hover+p {
	position: absolute;
	top: 25%;
	left: 25%;
	display: block;
	width: 12vw;
	border: 5px solid transparent;
	border-image-source: url("../images/CRITICAL/chain.png");
	border-image-slice: 10% 30%;
	border-image-repeat: repeat;
	border-image-width: 20%;
	border-image-outset: 1;
	cursor: pointer;
}

.header-nav p:hover {
	position: absolute;
	left: 25%;
	top: 25%;
	display: block;
	width: 12vw;
	border: 5px solid transparent;
	border-image-source: url("../images/CRITICAL/chain.png");
	border-image-slice: 10% 30%;
	border-image-repeat: repeat;
	border-image-width: 20%;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content p {
	background-color: white;
	font-size: 1rem;
	width: 60%;
	margin-top: 2rem;
}

.mobile-mechanics, .home-services, .transportation, .part {
	text-align: center;
	width: 80%;
}

.contents div {
  height: 70vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contents h1 {
  border: 5px ridge;
  background-color: #e3dac9;
  box-shadow: .2vw .2vw black;
}

.contents p {
  background-color: #e3dac9;
  position: relative;
  bottom: 5vh;
  box-shadow: .2vw .2vw black;
}

.contents img {
    height: 55vh;
}